body {
  background-color: #808080;
  background-image: url("images/cart2.jpg");
  background-repeat: no-repeat;
  padding-top: 0em;
  margin-left: 5.5em;
  margin-right: 4.7em;
  background-position: center 50px;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin: 0;
  width: 100%;
}

.img-container {
  width: 100%;
  padding-left: 2em;
}

h1 {
  font-family: 'Audiowide', cursive;
  text-align: left;
  padding-top: 7em;
  width: 100%;
  padding-bottom: .6em;
  margin: 0px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
}

span.bio {
  color: rgba(142, 143, 144, 1);
}

h2 {
  font-family: 'Audiowide', cursive;
  text-align: left;
  width: 100%;
  padding-bottom: 7em;
  margin: 0px;
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
}

nav {
  width: 100%;
}

nav a {
    background-color: black;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    padding: 20px 20px 20px;
    text-align: center;
}

nav a:hover {
   background-color: #808080;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  padding-top: 1em;
}

p {
  font-family: 'Odibee Sans', cursive;
  font-size: 28px;
}

table {
  padding-top: 0em;
  padding-bottom: 0em;
}

th {
  font-family: 'Audiowide', cursive;
  font-size: 20px;
  text-align: left;
}

tr {
  font-family: 'Odibee Sans', cursive;
  font-size: 28px;
  text-align: left;
  padding-left: 4em;
}


figcaption {
  font-family: 'Odibee Sans', cursive;
  font-weight: 400
  font-size: .75em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400;
}

footer {
  align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

a {
 font-family: 'Press Start 2P', cursive;
 color: black;
}

a:hover {
   color: rgb(254, 1 , 0);
}

footer {
  text-align: center;
}
